/**
 ** Generic Page Styling
 **/
body {
  color: #333;
  font-size: 0.75em;
  font-family: "Helvetica Neue", helvetica, Arial, sans-serif;
  background: 
  	url(../images/bkd_flourish.png) no-repeat center 130px,
  	url(../images/bkd_swirl_top.png) repeat-x left 39px,
  	#EDE9E1;
}

/* Links, Headings, UL */
a, a:link, a:visited {
  color: #AF1E2D;
  font-weight: normal;
  text-decoration: underline;
}
a:hover{
  text-decoration: none;
}
ol.breadcrumbs , ul.breadcrumbs  {
  list-style: none;
}
h1, h2, h3, h4 {
  color: #AF1E2D;
  font-family: "Helvetica Neue", helvetica, Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
}
h1 {
  font-size: 2em;
}
h1.title{
	font-weight: normal;
	font-family: "Caudex", helvetica, Arial, sans-serif;
	font-variant:small-caps;
}
.site-name a{
	text-decoration: none;
	color: #333;
	font-family: "Caudex", helvetica, Arial, sans-serif;
	font-variant:small-caps;
}
.site-slogan a{
	text-decoration: none;
	letter-spacing: 10px;
	font-family: "Caudex", helvetica, Arial, sans-serif;
	color: #333;
}
h2 {
  font-size: 1.6em;
  font-family: "Caudex", helvetica, Arial, sans-serif;
  font-variant:small-caps;
}
h3, h4 {
  font-size: 1.2em;
  font-family: "Caudex", helvetica, Arial, sans-serif;
  font-variant:small-caps;
}

p {
  color: #333;
  margin-bottom: 10px;
}

hr {
  background: #767676;
}

/** Header **/
#zone-user-wrapper{
	background: #AF1E2D;
	padding: 10px 0;
}

#zone-user-wrapper a{
	color: #fff;
	font-size: 0.9em;
	text-decoration: none;
}

#zone-user-wrapper a:hover{
	text-decoration: underline;
}

.logo-img{
	padding: 20px;
	margin: 0;
}


/**
 ** Homepage Styling
 **/
.view-hero-widget{
	position: relative;
}

.views-slideshow-controls-text-pause{
	display: none;
}

.views-slideshow-cycle-main-frame-row-item{
	width: 960px;
}

.views-slideshow-cycle-main-frame-row-item .views-field-title{
	margin: 50px;
}

.views-slideshow-cycle-main-frame-row-item .views-field-title span{
	background: #fff;
	padding: 10px;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}

.views-slideshow-cycle-main-frame-row-item .views-field-title span a{
	font-size: 1.5em;
	text-decoration: none;
}

#views_slideshow_cycle_main_hero_widget-block{
	width: 960px;
	height: 300px;
}

.view-hero-widget img{
	position: absolute;
	top: 0;
	left: 0;	
	z-index: -100;
}

#views_slideshow_cycle_main_hero_widget-block{
}

/**
 ** Generic Pane/Block Styling
 **/
h2.pane-title,
.region-sidebar-second h2.block-title {
	background: 
	  	url(../images/header_bkd.png) no-repeat right,
	  	url(../images/header_bkd_rpt.png) repeat-x left,
	  	#AF1E2D;
	color: #fff;
	padding: 10px 0 0 5px;
	margin: 0;
}


#block-system-main-menu .content ul li{
	list-style: none;
	float: left;
}

#block-system-main-menu .content a{
	color: #fff;
	font-size: 1.1em;
	text-decoration: none;
	padding: 0px 20px;
}

#block-system-main-menu{
	background: #000 url('../images/main_nav_bkd.png') repeat-x;
	height: 25px;
}

.block-committee-block-1{
	position: absolute;
	top: 2px;
	right: 20px;
	font-family: "Caudex", helvetica, Arial, sans-serif;
	color: #333;
	text-align: right;
}

.block-main-menu ul.menu li ul.menu{
	display: none;	
}

/** Committee view **/
.views-field-field-profile-picture{
	float: left;
	margin-right: 10px;
}
.views-field-nothing-1{
	overflow: auto;
}
#zone-footer-wrapper{
	background: 
		url('../images/footer_wrapper_bkd.jpeg') repeat-x;
	padding: 30px 0;
	color: #fff;
	margin-top: 20px;
	height: 160px;
}

#zone-footer{
	background: transparent url('../images/uob_logo.png') no-repeat top left;
	padding-left: 90px;
}

#zone-footer .block{
	float: left;
	margin-right: 50px;
}

#zone-footer h2{
	color: #fff;
}

#block-menu-menu-footer ul li{
	list-style: none;
}

#block-menu-menu-footer ul li a{
	color: #fff;
	text-decoration: none;
}

#block-menu-menu-footer ul li a:hover{
	color: #fff;
	text-decoration: underline;
}

#block-menu-menu-top-menu ul li{
	list-style: none;
	float: left;
}

#zone-branding-wrapper{
	height: 100px;
}

.block-fboauth{
	float: right;
}

.pane-block-1{
	background: #AF1E2D;
	padding: 10px;
}

.pane-block-1 h2.pane-title{
	color: #fcb514;
	background: none;
}

.pane-block-1 .pane-content p{
	color: #fff;
}

.not-front #region-content .region-content-inner{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 0 10px;
}

#region-sidebar-second{
	margin: 0;
}

.view-id-news.view-display-id-page img,
.view-id-events.view-display-id-page img{
	float: left;
	margin-right: 10px;
}

.feed-icon{
	position: absolute;
	top: 17px;
	right: 10px;
}

.view-id-news.view-display-id-page .view-header,
.view-id-events.view-display-id-page .view-header{
	margin-bottom: 20px;
	font-size: 1.5em;
	color: #999;
}

.view-id-news.view-display-id-page .views-row,
.view-id-events.view-display-id-page .views-row{
	border-top: 1px solid #AF1E2D;
	padding: 10px;
}
.view-id-events.view-display-id-page .views-field-field-date{
	font-weight: bold;
}

/**
 ** Gallery Formatter
 **/
.galleryformatter-greenarrows .gallery-thumbs .arrow,
.galleryformatter-greenarrows .gallery-thumbs .wrapper,
.galleryformatter-greenarrows .gallery-thumbs li.active a,
.galleryformatter-greenarrows .gallery-thumbs li a:hover,
.galleryformatter-greenarrows .view-full{
	background: none;
}

.gallery-thumbs{
	display: none;
}

#sliding-popup{
	border: 1px solid #AF1E2D;
	background: #fcb514;
}
#sliding-popup .cookie-button{
	background: #AF1E2D;
	font-weight: bold;
	color: #fff;
}

#views_slideshow_controls_text_hero_widget-block{
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 100;
}

#views_slideshow_controls_text_previous_hero_widget-block,
#views_slideshow_controls_text_next_hero_widget-block{
	background: #fcb514;
	border: 1px solid #AF1E2D;
	padding: 5px;
}

#views_slideshow_controls_text_previous_hero_widget-block a,
#views_slideshow_controls_text_next_hero_widget-block a{
	color: #AF1E2D;
	font-weight: bold;
	text-decoration: none;
}

.pane-hero-widget{
}

.view-id-news.view-display-id-block .views-field-title a,
.view-id-events.view-display-id-block a{
	color: #000;
	text-decoration: none;
	font-size: 1.5em;
}
.view-id-events.view-display-id-block .views-field-field-date{
	font-weight: bold;
}
.view-id-news.view-display-id-block .views-field-title a:hover{
	text-decoration: underline;
}

/** Membership form **/
#mha-permission-membership-apply-form label{
	float: left;
	width: 200px;
}

#mha-permission-membership-apply-form .form-type-checkbox label{
	width: 735px;
	float: right;
}

#mha-permission-membership-apply-form #edit-submit{
	border: 1px solid #CCC;
	background: #AF1E2D;
	color: white;
	margin-top: 20px;
}

#mha-permission-membership-apply-form input[type="text"],
#mha-permission-membership-apply-form select{
	border: 1px solid #ccc;
}

#mha-permission-membership-apply-form .description{
	width: 200px;
}

.view-id-elton_house_award .views-field-field-eh-image{
	float: left;
	margin-right: 10px;
}
.view-id-elton_house_award .views-field-field-eh-image .views-field-title a{
	font-size: 1.5em;
	text-decoration: none;
}
.view-id-elton_house_award .views-field-field-eh-image .views-field-title a:hover{
	text-decoration: underline;
}
.view-id-elton_house_award .views-field-field-eh-image .views-field-field-course{
	font-weight: bold;
}
.node-type-elton-house-award-recipient .field-name-field-eh-image{
	float: left;
	margin-right: 10px;
}
.node-type-elton-house-award-recipient .field-name-field-course{
	font-weight: bold;
}
.menu-block-1 ul.menu li{
	list-style: none;
}
.menu-block-1 ul.menu li a{
	font-size: 1.2em;
	font-family: "Caudex", helvetica, Arial, sans-serif;
	font-variant: small-caps;
	text-decoration: none;
}
.menu-block-1 ul.menu li a:hover{
	text-decoration: underline;
}
.breadcrumb{
	font-size: 1.2em;
	padding: 10px;
	font-family: "Caudex", helvetica, Arial, sans-serif;
	font-variant: small-caps;
}
.breadcrumb a{
	color: #333;
	text-decoration: none;
}
.breadcrumb a:hover{
	text-decoration: underline;
}
.view-id-committee.view-display-id-page .views-row,
.view-id-elton_house_award.view-display-id-page .views-row{
	margin-bottom: 20px;
}
#block-widgets-s-socialmedia-profile-buttons{
	float: right;
}
#block-block-4 p{
	color: #fff;
}
.fb-like-box{
	background: #fff;
}

tr:hover{
	background: none;
}

.block-mha-news-author img{
	float: left;
	margin-right: 5px;
}

.block-mha-news-author{
	margin-bottom: 20px;
}
.view-id-events.view-display-id-block .views-row,
.view-id-news.view-display-id-block .views-row{
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.view-id-news.view-display-id-page .attachment-before .views-row{
	padding: 0;
	height: 305px;
	position: relative;
}
.view-id-news.view-display-id-page .attachment-before .views-row img{
	position: absolute;	
}
.view-id-news.view-display-id-page .attachment-before .views-row .views-field-field-images a{
	width: 520px;
	height: 300px;
	position: absolute;
}
.view-id-news.view-display-id-page .attachment-before .views-row .views-field-title a{
	background: #fff;
	padding: 10px;
	font-size: 1.5em;
	text-decoration: none;
	top: 10px;
	position: absolute;
	opacity: 0.85;
	filter: alpha(opacity=85);
}
.view-id-events.view-display-id-page_1 img,
.view-id-events.view-display-id-page img{
	float:left;
	margin-right: 10px;
	margin-bottom: 30px;
}
.view-id-events.view-display-id-page_1 .views-row{
	margin-top:10px;
	margin-bottom: 10px;
	border-top: 1px solid #AF1E2D;
	padding-top: 10px;
}
.view-id-news.view-display-id-page .attachment-before .views-row .views-field-body{
	position: absolute;
	top: 60px;
	background: #FFF;
	width: 250px;
	padding: 5px;
	opacity: 0.85;
	filter: alpha(opacity=85);
}
.field-name-field-gallery-images .field-items .field-item{
	float: left;
	margin: 5px;
}

.view-id-image_gallery table.views-view-grid{
	border: none;
}
.view-id-image_gallery table.views-view-grid tr:hover td{
	background: none;
}
.view-id-image_gallery table.views-view-grid td{
	padding: 0;
	position: relative;
	height: 300px;
	padding-top: 10px;
}

.view-id-image_gallery table .views-field-title{
	position: absolute;
	bottom: 20px;
}

.view-id-image_gallery table .views-field-title a{
	color: #fff;
	font-size: 2em;
	text-decoration: none;
	padding: 10px;
	background: #AF1E2D;
}
.view-id-image_gallery.view-display-id-block_1 .views-row{
	padding: 5px 0;
	border-bottom: 1px solid #ccc;
}
.view-sponsor.view-id-sponsor .view-content{
	float: right;
}

.view-sponsor.view-id-sponsor .attachment {
	width: 350px;
}
.view-sponsor.view-id-sponsor .attachment img{
	margin-bottom: 20px;
}

.view-sponsor.view-id-sponsor .attachment .views-label-field-sponsor-prize{
	float: left;
	margin-right: 1em;
}

.view-sponsor.view-id-sponsor .attachment .views-field-field-sponsor-prize{
	font-weight: bold;
	font-size: 1.3em;
	color: #AF1E2D;
	margin: 20px 0;
}

#block-menu-menu-sponsorship{
	font-size: 1.2em;
	font-family: "Caudex", helvetica, Arial, sans-serif;
	font-variant: small-caps;
	text-decoration: none;
}

#block-menu-menu-sponsorship ul.menu li{
	list-style: none;
}

#block-menu-menu-sponsorship a,
#block-menu-menu-sponsorship a:visited{
	color: #AF1E2D;
	text-decoration: none;
}
#block-menu-menu-sponsorship a:hover{
	text-decoration: underline;
}

.view-id-our_sponsors table{
	border: none;
}
.view-id-our_sponsors table tr:hover,
.view-id-our_sponsors table td:hover{
	background:none;
}
.view-id-our_sponsors table td{
	width: 33%;
}
.view-id-our_sponsors{
	text-align: center;
}
.view-id-our_sponsors .views-field-field-sponsor-prize a{
	font-size: 1.2em;
	font-family: "Caudex", helvetica, Arial, sans-serif;
	font-variant: small-caps;
	text-decoration: none;
}
.view-id-our_sponsors .views-field-field-sponsor-prize a:hover{
	text-decoration: underline;
}

tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
	background: none;
}
.view-id-draw_prizes.view-display-id-block tr{
	min-height: 140px;
	text-align: center;
}

.view-id-draw_prizes.view-display-id-block tr a{
	font-size: 1.2em;
	font-family: "Caudex", helvetica, Arial, sans-serif;
	font-variant: small-caps;
	text-decoration: none;
}
.pane-latest-tweets{
	background: #333 url('../images/Twitter_logo_white.png') no-repeat 5px 5px;
	color: #fff;
	padding: 10px 50px;
}

.pane-latest-tweets a,
.pane-latest-tweets a:link,
.pane-latest-tweetsa:visited{
	color: #fff;
}
.front .panel-3col-33-stacked .panel-separator{
	margin: 0;
}

.front .panel-3col-33-stacked .panel-col-last{
	float: right;
}