/**
 ** Generic Page Styling
 **/
body {
  color: #333;
  font-size: 0.75em;
  font-family: "Helvetica Neue", helvetica, Arial, sans-serif;
}

/* Links, Headings, UL */
a, a:link, a:visited {
  color: #AF1E2D;
  font-weight: normal;
  text-decoration: underline;
}
a:hover{
  text-decoration: none;
}
ol.breadcrumbs , ul.breadcrumbs  {
  list-style: none;
}
h1, h2, h3, h4 {
  color: #AF1E2D;
  font-family: "Helvetica Neue", helvetica, Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
}
h1 {
  font-size: 2em;
}
h1.title{
	font-weight: normal;
}
.site-name a{
	text-decoration: none;
}
h2 {
  font-size: 1.3em;
}
h3, h4 {
  font-size: 1.2em;
}

p {
  color: #333;
  margin-bottom: 10px;
}

hr {
  background: #767676;
}

/** Header **/
#zone-user-wrapper{
	background: #f2e8e8;
	padding: 10px 0;
}

/**
 ** Homepage Styling
 **/
.view-hero-widget{
	position: relative;
}

.views-slideshow-controls-text-pause{
	display: none;
}

.views-slideshow-cycle-main-frame-row-item{
	width: 960px;
}

.views-slideshow-cycle-main-frame-row-item .views-field-title{
	margin: 50px;
}

.views-slideshow-cycle-main-frame-row-item .views-field-title span{
	background: #fff;
	padding: 10px;
}

.views-slideshow-cycle-main-frame-row-item .views-field-title span a{
	font-size: 1.5em;
	text-decoration: none;
}

#views_slideshow_cycle_main_hero_widget-block{
	width: 960px;
	height: 300px;
}

.view-hero-widget img{
	position: absolute;
	top: 0;
	left: 0;	
	z-index: -100;
}

#views_slideshow_cycle_main_hero_widget-block{
}

/**
 ** Generic Pane/Block Styling
 **/
h2.pane-title {
	border-bottom: 1px solid #AF1E2D;;
}

#block-system-main-menu ul li{
	list-style: none;
	float: left;
	padding: 30px 0;
	margin: 0 10px 0 0;
}

#block-system-main-menu ul li.last{
	margin: 0;
}
#block-system-main-menu ul li a{
	text-decoration: none;
	background: #ffebbf;
	padding: 10px 30px 30px 10px;
	border-top: 3px solid #AF1E2D;
}

#block-system-main-menu{
	float: right;
	margin-top: -50px;
}

#block-system-main-menu ul li a:hover{
	background: #fcb514;
}

#block-system-main-menu ul li a.active{
	background: #AF1E2D;
	color: #fff;
	border-top: 3px solid #fcb514;
}

#zone-footer-wrapper{
	background: #AF1E2D;
	padding: 30px 0;
	color: #fff;
	margin-top: 20px;
}

#zone-footer{
	background: transparent url('../images/whitelogo.png') no-repeat center right;
}

#block-menu-menu-footer ul li{
	list-style: none;
}

#block-menu-menu-footer ul li a{
	color: #fff;
	text-decoration: none;
}

#block-menu-menu-footer ul li a:hover{
	color: #fff;
	text-decoration: underline;
}

#block-menu-menu-top-menu ul li{
	list-style: none;
	float: left;
}

#zone-branding-wrapper{
	height: 100px;
}

.block-fboauth{
	float: right;
}

.pane-block-1{
	background: #AF1E2D;
	padding: 10px;
}

.pane-block-1 h2.pane-title{
	color: #fcb514;
}

.pane-block-1 .pane-content p{
	color: #fff;
}

.not-front #region-content .region-content-inner{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 0 10px;
}

#region-sidebar-second{
	margin: 0;
}

.view-id-news.view-display-id-page img{
	float: left;
	margin-right: 10px;
}

.feed-icon{
	position: absolute;
	top: 17px;
	right: 10px;
}

.view-id-news.view-display-id-page .view-header{
	margin-bottom: 20px;
	font-size: 1.5em;
	color: #999;
}

.view-id-news.view-display-id-page .views-row{
	border-top: 1px solid #AF1E2D;
	padding: 10px;
}

/**
 ** Gallery Formatter
 **/
.galleryformatter-greenarrows .gallery-thumbs .arrow,
.galleryformatter-greenarrows .gallery-thumbs .wrapper,
.galleryformatter-greenarrows .gallery-thumbs li.active a,
.galleryformatter-greenarrows .gallery-thumbs li a:hover,
.galleryformatter-greenarrows .view-full{
	background: none;
}

.gallery-thumbs{
	display: none;
}

#sliding-popup{
	border: 1px solid #AF1E2D;
	background: #fcb514;
}
#sliding-popup .cookie-button{
	background: #AF1E2D;
	font-weight: bold;
	color: #fff;
}

#views_slideshow_controls_text_hero_widget-block{
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 100;
}

#views_slideshow_controls_text_previous_hero_widget-block,
#views_slideshow_controls_text_next_hero_widget-block{
	background: #fcb514;
	border: 1px solid #AF1E2D;
	padding: 5px;
}

#views_slideshow_controls_text_previous_hero_widget-block a,
#views_slideshow_controls_text_next_hero_widget-block a{
	color: #AF1E2D;
	font-weight: bold;
	text-decoration: none;
}

.pane-hero-widget{
	margin-bottom: 20px;
}