/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";    
html * {
    font-size: 11pt;
}
h1{
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #B01C2E;
  font-size: 1.7em;
}
.region-content h2{
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #B01C2E;
  font-size: 1.4em;
}
.region-content h2 a{
  color: #B01C2E;
  font-size: 1em;
}
body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  .not-front{
   
  }
  
  #footer-wrapper{
    background: #161B20;
    color: #fff;
  }
}
.region-sidebar-first{
  h2.block-title{
    margin: -19px -19px 0px -19px;
    background: #B01C2E;
    padding: 19px;
    color: #fff;
  }
  ul{
    li{
        padding: 10px 0px;
        border-bottom: 1px #e3e3e3 solid;
    }
  }
}
p{
  margin-bottom: 1em;
}
#block-mha-news-mha-news-author{
  img{
    float: left;
    margin-right: 10px;
  }
  .position{
    margin-bottom: 1em;
    font-weight: bold;
  }
  .date{
    font-weight: bold;
    color: #B01C2E;
  }
  margin-bottom: 20px;
  font-size: 0.9em;
  border-bottom: 1px #eee solid;
  border-top: 1px #eee solid;
  padding: 10px 0;
}
.footer{
  background: transparent url("../images/whitelogo.png") bottom right no-repeat;
}
.region.region-sidebar-first.well{
  padding-top: 0;
}
.navbar-full{
  background: #161B20;
  margin-bottom: 20px;
  .container{
    padding: 0;
    a{
      color: #fff;
    }
    a:hover{
      color: #000;
    }
  }
}
.front{
  .navbar-full{
    margin-bottom: 0;
  }
  .view-latest-tweets{
    background: #161B20 url("../images/Twitter_logo_white.png") 10px 10px no-repeat;
    padding: 13px 0 13px 50px;
    margin-bottom: 20px;
    color: #fff;
    a{
      color: #fff;
      text-decoration: underline;
      font-size: 0.9em;
    }
    span{
      width: 100%;
      font-size: 0.9em;
    }
  }
  .main-container{
    h2{
      font-size: 1.5em;
      background: #B01C2E;
      padding: 10px;
      color: #fff;
    }
  }
  .pane-events,
  .pane-news{
    .views-row{
      border-bottom: 1px solid #ddd;
      padding: 20px 0px;
      margin-bottom: 20px;
    }
    .views-row:first-child{
      padding-top: 0;
    }
    .views-field-title{
      padding: 10px 0;
      a{
        font-size: 1.3em;
        color: #B01C2E;
      }
    }
  }
}
.view-display-id-attachment_1{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.views-bootstrap-grid-plugin-style{
  .views-field-title{
    a{
      font-family: Georgia, "Times New Roman", Times, serif;
      color: #B01C2E;
      font-size: 1.2em;
    }
  }
  .col{
    margin-bottom: 30px;
  }
}
.pagination>.active>a,
.pagination>.active>a:hover{
  background-color: #B01C2E;
  border-color: #B01C2E;
}
.pagination>li>a{
  color: #B01C2E;
}
#block-mha-news-social-share{
  img{
    float: left;
    margin-right: 10px;
  }
}
@media (min-width: 768px) {
  .navbar-full{
    li{
      float: left !important;
    }
  }
}
.navbar-default{
  border: none;
  background: none;
}
.view-id-hero_widget{
  .container-fluid{
    background: #B01C2E;
  }
  .col-md-4{
    padding-top: 30px;
    color: #fff;
    a{
      color: #fff;
      font-size: 1.5em;
    }
  }
}