/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";    
html * {
    font-size: 11pt;
}
h1{
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #B01C2E;
  font-size: 1.7em;
}
a{
  color: #B01C2E;
}
.region-content{
  h2{
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #B01C2E;
    font-size: 1.4em;
  }
  h3{
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #B01C2E;
    font-size: 1.2em;
  }
}
.region-content h2 a{
  color: #B01C2E;
  font-size: 1em;
}
.view-id-committee.view-display-id-page{
  img{
    float: left;
    margin-right: 20px;
  }
  .views-row{
    margin-top: 20px;
  }
  h2{
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
  }
}
.js{
  #mha-permission-membership-apply-form{
    .form-item-salutation-other{
      display: none;
    }
  }
}
body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  .not-front{
   
  }
  
  #footer-wrapper{
    background: #161B20;
    color: #fff;
  }
}
.region-sidebar-second{
  h2.block-title{
    margin: -19px -19px 0px -19px;
    background: #B01C2E;
    padding: 19px;
    color: #fff;
  }
}
.region-sidebar-first{
  h2.block-title{
    margin: -19px -19px 0px -19px;
    background: #B01C2E;
    padding: 19px;
    color: #fff;
  }
  ul{
    li{
        padding: 10px 0px;
        border-bottom: 1px #e3e3e3 solid;
    }
  }
  .view-display-id-block_1{
    .views-row{
      padding: 10px 0px;
      border-bottom: 1px #e3e3e3 solid;
    }
  }
}
p{
  margin-bottom: 1em;
}
#block-mha-news-mha-news-author{
  img{
    float: left;
    margin-right: 10px;
  }
  .position{
    margin-bottom: 1em;
    font-weight: bold;
  }
  .date{
    font-weight: bold;
    color: #B01C2E;
  }
  margin-bottom: 20px;
  font-size: 0.9em;
  border-bottom: 1px #eee solid;
  border-top: 1px #eee solid;
  padding: 10px 0;
}
@media (min-width: 768px){
  .footer{
    background: transparent url("../images/whitelogo.png") bottom right no-repeat;
  }
}

@media (max-width: 768px){
  .page-membership-apply{
    .region-sidebar-first{
      display: none;
    }
  }
  .pane-hero-widget{
    display: none;
  }
  .pane-latest-tweets{
    display: none;
  }
}
.region.region-sidebar-first.well{
  padding-top: 0;
}
.navbar-full{
  background: #161B20;
  margin-bottom: 20px;
  .container{
    padding: 0;
    a{
      color: #fff;
    }
    a:hover{
      color: #000;
    }
  }
}
.front{
  .navbar-full{
    margin-bottom: 0;
  }
  .view-latest-tweets{
    background: #161B20 url("../images/Twitter_logo_white.png") 10px 10px no-repeat;
    padding: 13px 0 13px 50px;
    margin-bottom: 20px;
    color: #fff;
    a{
      color: #fff;
      text-decoration: underline;
      font-size: 0.9em;
    }
    span{
      width: 100%;
      font-size: 0.9em;
    }
  }
  .main-container{
    h2{
      font-size: 1.5em;
      background: #B01C2E;
      padding: 10px;
      color: #fff;
    }
  }
  .pane-events,
  .pane-news{
    .views-row{
      border-bottom: 1px solid #ddd;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    .views-row:first-child{
      padding-top: 0;
    }
    .views-field-title{
      padding: 10px 0;
      a{
        font-size: 1.3em;
        color: #B01C2E;
      }
    }
  }
}
.view-display-id-attachment_1{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.views-bootstrap-grid-plugin-style{
  .views-field-title{
    a{
      font-family: Georgia, "Times New Roman", Times, serif;
      color: #B01C2E;
      font-size: 1.2em;
    }
  }
  .col{
    margin-bottom: 30px;
  }
}
.pagination>.active>a,
.pagination>.active>a:hover{
  background-color: #B01C2E;
  border-color: #B01C2E;
}
.pagination>li>a{
  color: #B01C2E;
}
#block-mha-news-social-share{
  img{
    float: left;
    margin-right: 10px;
  }
}
@media (min-width: 768px) {
  .navbar-full{
    li{
      float: left !important;
    }
  }
}
.navbar-default{
  border: none;
  background: none;
}
.view-id-hero_widget{
  .container-fluid{
    background: #B01C2E;
  }
  .col-md-4{
    padding-top: 30px;
    color: #fff;
    a{
      color: #fff;
      font-size: 1.5em;
    }
  }
}
.view-image-gallery{
  .views-bootstrap-grid-plugin-style{
    .views-field-title{
      a{
        position: absolute;
        background: #B01C2E;
        padding: 10px;
        top: 30px;
        color: #fff;
      }
    }
  }
}
.view-id-events.view-display-id-page,
.view-id-events.view-display-id-page_1{
  img{
    float: left;
    margin-right: 20px;
  }
  .views-row{
    margin-top: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
  }
  .views-field-title{
    a{
      font-family: Georgia, "Times New Roman", Times, serif;
      color: #B01C2E;
      font-size: 1.2em;
    }
  }
}
.region-sidebar-second{
  .block{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    padding-top: 0;
    p{
      font-size: 0.9em;
      margin-top: 1em;
    }
    a{
      font-size: 0.9em;
    }
  }
}
.node-type-news-article{
  .region-sidebar-second{
    .block{
      min-height: 20px;
      padding: 0;
      margin-bottom: 20px;
      border: none;
      border-radius: 0px;
      -webkit-box-shadow: none;
      box-shadow: none;
      background: none;
    }
  }
}
.view-id-elton_house_award.view-display-id-page{
  img{
    float: left;
    margin-right: 20px;
  }
  .views-row{
    padding: 20px 0;
    border-top: 1px solid #ddd;
  }
  .view-content{
    h3{
      font-family: Georgia, "Times New Roman", Times, serif;
      color: #B01C2E;
      font-size: 1.5em;
      margin-top: 20px;
    }
    .views-field-title{
      h3{
        font-size: 1.2em;
      }
    }
    .views-row-first{
      margin-top: 20px;
    }
    .views-field-body{
      padding-top: 1em;
    }
  }
}
strong{
  font-weight: bold;
}
.node-elton-house-award-recipient{
  .field-name-field-course{
    font-weight: bold;
    margin-bottom: 1em;
  }
  .field-type-image{
    float: left;
    margin-right: 20px;
  }
}
#block-system-main{
  ul{
    list-style: circle;
    margin-left: 20px;
    margin-bottom: 1em;
    li{
      list-style: circle;
    }
  }
}
@media (min-width: 768px) {
  .region-footer{
    .block{
      width: 33.33%;
      float: left;
    }
  }
}

@media (min-width: 992px) {
  .navbar-header{
    float: none;
  }
  #header-committee{
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: right;
    float: right;
    margin-top: 10px;
    font-size: 0.9em;
    p{
      margin: 0;
      font-size: 1em;
    }
    strong{
      font-size: 1em;
    }
  }
}
.region-footer{
  a{
    color: #fff;
  }
  a:hover{
    background: none;
  }
  .nav>li>a:hover, .nav>li>a:focus{
    background: none;
    text-decoration: underline;
  }
}
.navbar-collapse{
  a[href*="membership/apply"]{
    background:  #428bca;
  }
  a[href*="membership/home"]{
    background:  #5cb85c;
  }
}
.logged-in{
  .navbar-collapse{
    a[href*="membership/apply"]{
      display: none;
    }
  }
}
.caret{
  display: none !important;
}
#block-menu-menu-membership-administration{
  .block-title{
    background:  #5cb85c;
  }
}
#mha-permission-email-settings{
  .form-type-textarea{
    margin-top: 40px;
    p{
      font-size: 0.8em;
      color: #777;
    }
  }
  label{
    font-size: 1.2em;
    font-weight: bold;
    color: #B01C2E;
  }
}
#direct-debit-container,
#paypal-container{
  border: 1px solid;
  padding: 15px;
  margin-bottom: 15px;
  background: transparent url("../images/dd_form.gif") bottom right no-repeat;
}
#paypal-container{
  background: transparent url("../images/pp.jpg") bottom right no-repeat;
}
.page-ereg{
  background: #3e3e3f;
  color: #D4C69B;
  img{
    margin: 45px auto;
  }
}

.page-membership-home{
  .panel-pane{
    margin-bottom: 30px;
  }
}
.event-header{
  margin: 20px 0;
  .date{
    .calendar{
      background: #ddd;
      width: 100px;
      float: left;
      .day{
        background: #B01C2E;
        text-align: center;
        font-weight: bold;
        color: #fff;
        line-height: 2em;
      }
      .day-number{
        font-size: 3em;
        text-align: center;
      }
      .month{
        text-align: center;
          line-height: 2em;
          font-weight: bold;
      }
    }
  }
  .time-location{
    float: left;
    margin-left: 20px;
    .time{
      background: url('../images/clock.png') no-repeat;
      padding: 5px 40px;
      font-weight: bold;
    }
    .location{
      background: url('../images/location.png') no-repeat;
      padding: 5px 40px;
      font-weight: bold;
    }
    .price{
      background: url('../images/price.png') no-repeat;
      padding: 5px 40px;
      font-weight: bold;
    }
  }
}
.page-user{
  .field-name-field-biography{
    margin-bottom: 20px;
  }
  .user-expiry{
    margin-top: 20px;
  }
}
.view-id-events.view-display-id-block{
  .date-display-single{
    font-weight: bold;
    line-height: 2em;
  }
}
.front{
  .pane-block-1{
    .pane-content{
      padding: 20px;
      background-color: #f5f5f5;
      border: 1px solid #e3e3e3;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    }
    margin-bottom: 20px;
  }
  .pane-block-12{
    margin-bottom: 20px;
  }
  .pane-block-14{
    .pane-content{
      padding: 20px;
      background-color: #f5f5f5;
      border: 1px solid #e3e3e3;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
      line-height: 2em;
      img{
        float: left;
      }
    }
  }
}
.view-id-news.view-display-id-page{
  .views-field-title{
    margin: 0.5em 0;
  }
}
.field-name-field-images,
.field-name-field-image{
  margin-bottom: 1em;
}