/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body {
  background: #eaede7 url('../images/background-gradient.png') repeat-x scroll center top;
  color: #333;
  font-size: 0.75em;
  font-family: Arial,Helvetica,sans-serif;
}

#outercontainer {
  width: 980px;
  margin: 22px auto;
}
#page {
  width: 960px;
  padding: 0 10px;
  background: white;
  background: url('../images/shadowBg.png') repeat-y top left;
}
#shadowcontainerBottom {
  background: url('../images/shadowBgBottom.png') no-repeat top left;
  padding-top: 20px;
}
#shadowcontainerTop {
  background: url('../images/shadowBgTop.png') no-repeat top left;
  padding-top: 20px;
}

/**
 ** Generic Page Styling
 **/

/* Links, Headings, UL */
a, a:link, a:visited {
  color: #00704A;
  font-weight: normal;
  text-decoration: underline;
}
a:hover{
  text-decoration: none;
}
ol.breadcrumbs , ul.breadcrumbs  {
  list-style: none;
}
h1, h2, h3, h4 {
  color: #246D35;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.3em;
  font-weight: bolder;
}
h3, h4 {
  font-size: 1.2em;
}

p {
  color: #333;
  margin-bottom: 10px;
}

hr {
  background: #767676;
}

/** Zone-Branding **/
#zone-branding {
  padding-top: 1px;
}

#zone-branding .masthead-group {
  clear: right;
}

#zone-branding .block-bcs-accessibility {
  float: right;
  line-height: 50px;
  margin-left: 10px;
}
#zone-branding .block-bcs-accessibility > div {
  display: inline;
}

#zone-branding .block-bcs-accessibility .block-title {

}

#zone-branding .block-bcs-accessibility .item-list {
  display: inline;
}

#zone-branding .block-bcs-accessibility .item-list ul {
  margin: 0;
  display: inline;
}
#zone-branding .block-bcs-accessibility .item-list li {
  margin: 0 2px;
  display: inline;
}

#zone-branding .block-bcs-accessibility.block-bcs-accessibility-textsize .item-list li {
  margin: 0;
}

#zone-branding .block-menu-menu-header-menu {
  float: right;
  line-height: 50px;
  margin-right: 30px;
}

#zone-branding .block-menu-menu-header-menu  ul.menu li {
  display: inline;
  margin: 0 2px 0 0;
  padding: 0 0 0 6px;
  border-left: 1px solid #C8C8C8;
}
#zone-branding .block-menu-menu-header-menu  ul.menu li.first {
  border-left: none;
}
#zone-branding .block-menu-menu-header-menu  ul.menu li a {
  text-decoration: none;
  color: #00704A;
}
#zone-branding .block-menu-menu-header-menu  ul.menu li a:hover {
  text-decoration: underline;
}
#zone-branding .block-menu-menu-header-menu ul.menu {
  display: inline;
  margin: 0;
}

#zone-branding .block-bcs-search-search-form {
  float: right;
  clear: right;
}

#zone-branding .block-bcs-search-search-form .search-inline {
  background: url("../images/search-bg.png") repeat-x scroll left top #FFFFFF;
  border: 1px solid #C2C2C2;
  float: left;
}

#zone-branding .block-bcs-search-search-form .form-text {
  padding: 4px 2px 0;
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  float: left;
}

#zone-branding .block-bcs-search-search-form .form-submit {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  float: left;
}

#zone-branding .block-bcs-user-masthead {
  float: right;
}

#zone-branding .block-bcs-user-masthead ul {
  margin: 0 20px 0 0;
}

#zone-branding .block-bcs-user-masthead li {
  display: inline;
  margin: 0;
  padding: 0;
  line-height: 23px;
}
#zone-branding .block-bcs-user-masthead li a {
  font-weight: bold;
  color:#00704A;
}
#zone-branding .block-bcs-user-masthead li.last {
  background: transparent url('../images/green-line.gif') no-repeat scroll left center;
  margin-left: 4px;
  padding-left: 7px;
}

/** Zone-Menu **/
/* Navigation */
#zone-menu #region-menu {
  margin-top: 10px;
}
#zone-menu .navigation ul#main-menu {
  width: 100%;
  display: block;
  border: 1px solid #c8c8c8;
  margin-bottom: 14px;
  background: url('../images/top-nav-bg.png') repeat;
}
#zone-menu .navigation ul#main-menu li {
  display: block;
  float: left;
  padding: 5px 0 5px 0;
  margin-right: 0;
  background: url('../images/top-nav-bg.png') repeat;
}
#zone-menu .navigation ul#main-menu li a {
  text-decoration: none;
  color: #246d35;
  border-right: 1px solid #c8c8c8;
  padding: 0 35px 0 35px;
  font-weight: bold;
  font-size: 1em;
}
#zone-menu .navigation ul#main-menu li:hover {
  background: url('../images/top-nav-bg-active.png') repeat-x;
}
#zone-menu .navigation ul#main-menu li:hover a{
  color: #FFF;
  border-right: none;
  margin-right: 1px;
  text-decoration: underline;
}
#zone-menu .navigation ul#main-menu li.last {
  /*padding-left: 5px;*/
}
#zone-menu .navigation ul#main-menu li.last a{
  display: block;
  border-right: none;
}

.menu-bg-fix {
  background: url('../images/top-nav-bg-active.png') repeat !important;
}


/* Fix Navigation menu when small / large font style is used */
body.textsize-small #zone-menu .navigation ul#main-menu li a {
  padding: 0 39px 0 39px;
}
body.textsize-large #zone-menu .navigation ul#main-menu li a{
  padding: 0 29px 0 29px;
}


/* Active States */
#zone-menu .navigation ul#main-menu li.active {
  background: url('../images/top-nav-bg-active.png') repeat-x;
}
#zone-menu .navigation ul#main-menu li.active a {
  color: #FFF;
  border-right: none;
  margin-right: 1px;
}

/* Breadcrumb */
#breadcrumb {

}
#breadcrumb > p {
  font-size: 1em;
  color: #333;
  font-weight: normal;
  float: left;
  padding-right: 10px;
  padding-left: 5px;
  margin-bottom: 0;
}
#breadcrumb ul.breadcrumbs {
  display: block;
  margin-bottom: 5px;
}
#breadcrumb ul.breadcrumbs li {
  float: left;
  padding-top: 1px;
}
#breadcrumb ul.breadcrumbs li a {
  text-decoration: none;
  float: left;
}
#breadcrumb ul.breadcrumbs li a.active {
  color: #00704A;
}
#breadcrumb ul.breadcrumbs li a:hover {
  text-decoration: underline;
}
#breadcrumb ul.breadcrumbs li.first {
  padding-top: 0;
}
#breadcrumb ul.breadcrumbs li.first a {
  background: url('../images/iconHome.gif');
  height: 16px !important;
  width: 16px;
  margin-top: 1px;
  overflow: hidden;
  padding: 0;
  text-indent: -1000px;
}
.breadcrumb-separator {
  background: url('../images/chevron.gif');
  width: 5px;
  height: 20px;
  float: left;
  margin: 0 10px 0 10px;
}
#breadcrumb-line-break {
  width: 100%;
  clear: both;
  height: 11px;
  background: transparent url('../images/horizontal-rule.png') no-repeat center center;
  margin-bottom: 15px;
}
#breadcrumb ul.breadcrumbs li.breadcrumb-activepage {
  /*color: #00704a; */
}
#breadcrumb .region-above-content {
  margin: 0;
}

/** Zone-Content **/
#zone-content-wrapper {
  margin-bottom: 30px;
}

#zone-content-wrapper .block{
  margin-bottom: 10px;
}
#zone-content-wrapper .block.bean-type--section-header {
  margin-bottom: 0;
}

/* Homepage Carousel */
.view-homepage-carousel .views_slideshow_slide .views-field-field-carousel-image img {
  width: 100%;
  height: 230px;
  border: 2px solid #c8c8c8;
  border-bottom: none;
}
.view-homepage-carousel .views_slideshow_slide .views-row {
  position: relative;
}
.view-homepage-carousel .views_slideshow_slide .carousel-overlay {
  position: absolute;
  top: 0;
  bottom: 30px;
  left: 0;
  overflow: hidden;
  background: #404040;
  padding: 10px 10px 20px;
  color: #FFFFFF;
  opacity: 0.95;
  filter:alpha(opacity=95); /* IE8 + Earlier */
}
.view-homepage-carousel .views_slideshow_slide .views-field-body {
  font-size: 1.1em;
}
.view-homepage-carousel .views_slideshow_slide .views-field-field-carousel-link {
  margin-top: 10px;
}
.view-homepage-carousel .views_slideshow_slide .views-field-field-carousel-link a {
  background: url('../images/carousel-link-bg.png');
  padding: 5px 10px;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.view-homepage-carousel .views_slideshow_slide h3.field-content {
  font-size: 1.5em;
  color: #FFF;
}
.view-homepage-carousel .views_slideshow_slide .carousel-pager-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 40px;
  height: 20px;
  background: #404040;
  padding: 10px 10px 0;
  overflow: hidden;
  opacity: 0.95;
  filter:alpha(opacity=95); /* IE8 + Earlier */
}
.view-homepage-carousel .views_slideshow_slide p {
  color: #FFF;
}
.view-homepage-carousel .views_slideshow_slide .carousel-pager-wrapper-inner {
  position: relative;
  left: 50%;
  float: left;
}
.view-homepage-carousel .views_slideshow_slide .carousel-pager {
  position: relative;
  right: 50%;
}
.view-homepage-carousel .views_slideshow_slide .carousel-pager a {
  background: transparent url('../images/pager-dot-off.png') no-repeat scroll center center;
  padding: 0 5px;
  height: 0; padding-bottom: 12px; overflow: hidden;
  width: 12px;
  display: block;
  float: left;
}
.view-homepage-carousel .views_slideshow_slide .carousel-pager a.activeSlide {
  background-image: url('../images/pager-dot-on.png');
}

/* Quicktab Font Capitilise */
ul.quicktabs-tabs a {
  text-transform: uppercase;
}

/* Quicktabs listings */
.quicktabs-tabpage .node {
  padding: 20px 20px 10px 15px;
}
.quicktabs-tabpage .views-row-even {
  background: #f0f0f0;
}

/* Featured Homepage Content */
.pane-quicktabs-featured-homepage-content h2.pane-title {
  display: none;
}
.pane-quicktabs-featured-homepage-content {
  margin-bottom: 20px;
}
ul.quicktabs-tabs {
  border: 1px solid #c8c8c8;
  margin: 0;
  height: 30px;
  background: url('../images/top-nav-bg.png') repeat-x;
}
ul.quicktabs-tabs li {
  display: block;
  float: left;
  border-right: 1px solid #c8c8c8;
  margin: 0;
  padding: 6px 15px 6px 15px;
}
ul.quicktabs-tabs li.active {
  height: 30px;
  background: url('../images/top-nav-bg-active.png') repeat-x;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: -20px;
}

/* Quicktabs - Textsixe small fixes */
.textsize-small ul.quicktabs-tabs li {
  padding-bottom: 9px;
}
.textsize-small ul.quicktabs-tabs li.active {
  padding-bottom: 0;
}

/* Quicktabs - Textsize large fixes */
.textsize-large ul.quicktabs-tabs li {
  padding-bottom: 3px;
}
.textsize-large ul.quicktabs-tabs li.active{
  padding-bottom: 0; 
}
.textsize-large ul.quicktabs-tabs li.last{
  border-right:none;
  padding-right: 14px;
}

ul.quicktabs-tabs li.active a {
  display: block;
  height: 34px;
  padding-top: 6px;
  color: #FFF;
  background-image: url('../images/news-down-green-arrow.png');
  background-repeat: no-repeat;
  background-position: 10% 90%;
  padding-bottom: 0px;
}
ul.quicktabs-tabs li:hover {
  background: url('../images/top-nav-bg-active.png') repeat-x;
}
ul.quicktabs-tabs li:hover a{
  color: #FFF;
}
ul.quicktabs-tabs li a{
  color: #787878;
  font-weight: bold;
  text-decoration: none;
}
ul.quicktabs-tabs .ajax-progress .throbber {
  float: none;
  margin: 0 0 0 5px;
}
.pane-quicktabs-featured-homepage-content .view-id-featured_news {
  position: static;
}
.pane-quicktabs-featured-homepage-content .feed-icon {
  position: absolute;
  top: 3px;
  right: 5px;
}

/* Generic Bean/Block Styling (GREEN: Defaults) */
.page-home .bean-custom-text {

}

.page-home .bcs-layout-homepage h2.pane-title,
.bcs-layout-landingpage-8-4 .grid-4 h2.pane-title {
  display: none; /* Hide title from displaying outside of block */
}

.block.with-block-section-title > div.block-inner,
.pane-bcs-events-events-search  > div.pane-content {
  background: #FFF;
  background-image: url('../images/green-down-arrow.png');
  background-repeat: no-repeat;
  background-position: 20px 0;
  border-top: 4px solid #006633;
  padding: 15px;
}

.page-home .bean-custom-text .field-name-field-text h2 a,
.bcs-layout-basicpage-3-6-3 .grid-3 .field-name-field-text h2 a,
.bcs-layout-landingpage-8-4 .grid-4 .bean-custom-text h2 a {
  font-weight: bold;
}

.page-home .bean-custom-text .field-name-field-text a,
.bcs-layout-basicpage-3-6-3 .grid-3 .field-name-field-text a,
.bcs-layout-landingpage-8-4 .grid-4 .bean-custom-text a {
  font-weight: bold;
}

.block-bcs-discussion h2.block-title,
.block-views-blogs-block-latest-official h2.block-title,
.block-views-blogs-block-latest-community h2.block-title,
.block-discussions-block-editors-picks h2.block-title,
.block-views-discussions-block-recent-discussions h2.block-title,
.block-views-news-block-latest-official-news h2.block-title,
.block-views-news-block-latest-comm-news h2.block-title,
.block-views-news-block-latest-press-news h2.block-title,
.block-views-discussions-block-recent-posts h2.block-title,
.block .block-section-title,
.pane-bcs-events-events-search h2.pane-title{
  background: #006633;
  padding: 5px 0px 0px 10px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.block .block-section-title {
  padding: 6px 9px;
}
/* GREY BLOCKS: Inc-Our Activites Block & Join the Academy Block */

.block-bcs-discussion h2.block-title,
.block-discussions-block-editors-picks h2.block-title,
.block-views-discussions-block-recent-posts h2.block-title,
.block-views-blogs-block-latest-official h2.block-title,
.block-views-blogs-block-latest-community h2.block-title,
.block-views-news-block-latest-official-news h2.block-title,
.block-views-news-block-latest-comm-news h2.block-title,
.block-views-news-block-latest-press-news h2.block-title,
.block.with-block-section-title.block-title-grey .block-section-title {
  background: #626262;
}

.block-bcs-discussion .content,
.block.with-block-section-title.block-title-grey .block-inner {
  background-image: url('../images/grey-down-arrow.png');
  background-repeat: no-repeat;
  background-position: 20px 0;
  border-top: 4px solid #626262;
  padding: 15px;
}

.block-bcs-discussion .content,
.block-discussions-block-editors-picks .view,
.block.block-content-grey .block-inner {
  background-color: #e8e8e8 !important;
}
#zone-content-wrapper .block-content-grey {
  margin-bottom: 23px;
}
.front #zone-content-wrapper .block-content-grey {
  margin-bottom: 15px;
}

/* Top Right - 'Feature' Block */
.page-home .pane-bean-home-featured-content {
  height: 213px;
  padding: 10px 15px 10px 15px;
  margin-bottom: 15px;
  color: #FFF;
  background: url('../images/feature-bg.png') repeat-x;
}
.page-home .pane-bean-home-featured-content .field-name-field-text {
  background: none;
  background-image: none;
  border-top: none;
  padding: 0;
}
.page-home .pane-bean-home-featured-content h2 {
  color: #FFF;
}
.page-home .pane-bean-home-featured-content h2.pane-title {
  display: block;
}
.page-home .pane-bean-home-featured-content p {
 color: #FFF;
}
.page-home .pane-bean-home-featured-content a {
  color: #FFF;
  text-decoration: underline;
  font-weight: bold;
}

/* 'Our Activities' Block Margin fix */
.block-bean-our-activites {
  margin-top: 4px;
}

/* Bottom Left Under- 'News' block */
.block-bean-news-block-homepage ul li {
  list-style-image: url('../images/arrowBullet.png');
  margin-bottom: 10px;
}
.block-bean-news-block-homepage ul.contextual-links li {
  list-style-image: none;
  margin-bottom: 0;
}

/* Bottom Left Under- 'Feature' block */
.block-bean-homepage-bottom-feature-block {
  width: 65%;
  float: right;
}
.block-bean-homepage-bottom-feature-block img { /* TODO: Remove once wysiwyg editor image resize fixed */
  width: 40%;
  height: 35%;
}


/** Zone-Footer **/
#zone-footer-wrapper {
  background: #e8e8e8;
  border-top: 3px solid #006633;
}
#zone-footer {
  margin-top: 10px;
  margin-bottom: 1px;
}

/* Footer-Left-Copyright Bean */
#zone-footer #block-bean-footer-left-copyright {
  float: left;
  width: 50%;
}
#zone-footer #block-bean-footer-left-copyright img{
  padding-bottom: 10px;
}
#zone-footer #block-bean-footer-left-copyright h2.block-title {
  display: none;
}
#zone-footer #block-bean-footer-left-copyright .content .field-label {
  display: none;
}
#zone-footer #block-bean-footer-left-copyright p{
  color: #646262;
  margin-bottom: 0;
}



/* Footer Link Menus (1+2) */
#zone-footer #block-menu-menu-footer-menu1,
#zone-footer #block-menu-menu-footer-menu2 {
  float: right;
}
#zone-footer #block-menu-menu-footer-menu1 h2.block-title,
#zone-footer #block-menu-menu-footer-menu2 h2.block-title {
  display: none;
}
#zone-footer #block-menu-menu-footer-menu1 ul.menu,
#zone-footer #block-menu-menu-footer-menu2 ul.menu {
  float: left;
  list-style-type: none;
  padding-top: 5px;
  padding-right: 25px;
}
#zone-footer #block-menu-menu-footer-menu1 ul.menu li,
#zone-footer #block-menu-menu-footer-menu2 ul.menu li {
  color: #646262;
  margin: 0;
  list-style-type: none;
  list-style-image: none;
}
#zone-footer #block-menu-menu-footer-menu1 a,
#zone-footer #block-menu-menu-footer-menu2 a {
  color: #646262;
  text-decoration: none;
}
#zone-footer #block-menu-menu-footer-menu1 a:hover,
#zone-footer #block-menu-menu-footer-menu2 a:hover {
  text-decoration: underline;
  color: #246d35;
}
#zone-footer #block-menu-menu-footer-menu1 a:active,
#zone-footer #block-menu-menu-footer-menu2 a:active {
  text-decoration: underline;
  color: #246d35;
}
#zone-footer #block-menu-menu-footer-menu1 ul.menu li + li a{
  /* color: #246d35; */
}
#zone-footer #block-menu-menu-footer-menu1 ul.menu li.last a{
  color: #646262;
}
#zone-footer #block-menu-menu-footer-menu1 ul.menu li.last a:hover,
#zone-footer #block-menu-menu-footer-menu1 ul.menu li.last a:active {
  color: #246d35;
}

/* node-event styling */
.node-event .group_left {
  float: left;
  font-size: 1.3em;
  font-weight: bold;
  width: 70px;
}
.node-event .group_right {
  overflow: hidden;
}
.bcs-events-icon a:link,
.bcs-events-icon a:visited {
  text-decoration: none;
}
.bcs-events-icon .month {
  color: #666666;
  font-weight: bold;
}
.bcs-events-icon .day {
  background: url('../images/dayBg.gif') repeat-x top left;
  color: #FFFFFF;
  height: 28px;
  line-height: 28px;
  text-align: center;
  width: 30px;
}

.form-item-author-profile {
  float: right;
  margin: 0 0 1em 1em;
  width: 70px;
  text-align: center;
}
.form-item-author-profile .profile {
  margin: 0 0 0.5em;
}

/* Carousel Content Page */

/* (Constrain image to fit in page width when viewing the actual page for carousel item) */
.node-view-page.node-type-carousel-item .block-system-main .node-carousel-item .content img {
  width: 100%;
  height: auto;
}

/* Left Page Navigation */
.menu-block-custom1 {
  width: 100%;
}
.pane-menu-block-custom1  h2.pane-title {
  font-size: 0.95em;
  margin: 0;
}
.pane-menu-block-custom1  h2.pane-title a {
  display: block;
  padding: 7px 0 5px 10px;
  height: 18px;
  color: #FFF;
}
.pane-menu-block-custom1  h2.pane-title a.active {
  background-color: #00704a !important;
  background-image: url('../images/left-nav-arrow.png') !important;
  background-position: top right !important;
  background-repeat: no-repeat !important;
  color: #FFF !important;
  border-bottom: none !important;
}
.pane-menu-block-custom1  h2.pane-title a.active-trail {
  color: #00704A;
  border-bottom: 1px dotted #C8C8C8;
  width: 92%;
}
.menu-block-custom1 ul.menu li{
  background: #f0f0f0;
  width: 90%;
}

.menu-block-custom1 > ul.menu > li.active-trail,
.menu-block-custom1 ul.menu li.active-trail.expanded {
  font-size: 0.9em;
  font-weight: bold;
  margin: 0;
  line-height: 1.8em;
  padding: 0;
  width: 97%;
  border-bottom : 0 none;
}

.menu-block-custom1 > ul.menu > li.active-trail > a,
.menu-block-custom1 ul.menu li.active-trail.expanded > a {
  padding: 5px 0 5px 15px;
  display: block;
}
.menu-block-custom1 ul.menu li.active,
.menu-block-custom1 ul.menu li ul.menu li.active {
  background-color: #00704a !important;
  background-image: url('../images/left-nav-arrow.png') !important;
  background-position: top right !important;
  background-repeat: no-repeat !important;
  color: #FFF !important;
  border-top: none !important;
}

.menu-block-custom1 h2.pane-title a {
  color: #FFF;
}
.menu-block-custom1 ul.menu li,
.menu-block-custom1 ul.menu li.collapsed {
  list-style-type: none;
  list-style-image: none;
  border-bottom: 1px dotted #C8C8C8;
  padding: 5px 0 5px 15px;
  margin-left: 0;
  /* margin-right: 7px; */
}
.menu-block-custom1 ul.menu li a {
  text-decoration: none;
  color: #00704A;
}
.menu-block-custom1 ul.menu li a.active {
  text-decoration: none;
  color: #FFF;
}
.menu-block-custom1 ul.menu li a:hover {
  text-decoration: underline;
}
.menu-block-custom1 ul.menu li.active-trail ul.menu {
  background: #f0f0f0;
}
.menu-block-custom1 ul.menu li.active-trail ul.menu li {
  padding-left: 22px;
}

/* Remove left margin from grid-12 for left-navigation */
.node-view-page.node-type-event #zone-content .grid-12.region-content,
.node-view-page.node-type-basic-page #zone-content .grid-12.region-content {
  margin-left: 0;
}

/* 'Basic Page' Layout */
.page-events h1.title,
.node-view-page.node-type-event h1.title,
.node-view-page.node-type-basic-page h1.title {
  display: none;
}
.node-view-page.node-type-event .pane-node-content img,
.node-view-page.node-type-basic-page .pane-node-content img {
  max-width: 100%;
}

.bcs-layout-basicpage-3-6-3 h2.pane-title a {
  text-decoration: none;
  font-weight: bold;
}
.bcs-layout-basicpage-3-6-3 footer.submitted {
  display: none;
}

.bcs-layout-basicpage-3-6-3 .grid-3 {
  min-height: 1px; /* When there is no menu being displayed, enforce layout */
}

/* 'Basic Page' Feature Block */
.block-bean-featured-content-block {
  margin-top: 33px;
  margin-bottom: 10px;
}


/* Admin-Menu IE Fix */
#admin-menu {
  filter: none;
  -ms-filter: none;
}

/* Infinite scrolling pager */
.pager-load-more li.pager-next.last {
  position: relative;
  float: none;
  border: 0 none;
}
.pager-load-more li.pager-next a  {
  width: 100%;
}
.pager-load-more .ajax-progress {
  display: none;
}

/* Feed icons */
#events,
.bcs-layout-landingpage-8-4 {
  position: relative;
}
#events div.feed-icon,
.bcs-layout-landingpage-8-4 div.feed-icon {
  position: absolute;
  top: 5px;
  right: 9px;
}

/* Events landing */
#quicktabs-events {
  position: relative;
}
#quicktabs-container-events {
  margin-top: 27px;
}
#quicktabs-container-events .view-footer {
  margin-top: 10px;
}

.view-display-id-block_main_events .view-header,
.view-display-id-block_main_events .view-empty,
.view-display-id-block_main_events .views-row.node-event {
  padding: 8px 17px 15px;
}
.views-row.node-event h3 {
  margin: 10px 0 0;
}
.view-display-id-block_main_events .view-content {
  margin-bottom: 20px;
}
.node-event.node-full .group-event-tabular-fields {
  margin-bottom: 10px;
}
.node-event.node-full .group-event-tabular-fields .field {
  font-size: 13px;
}
.node-event.node-full .group-event-tabular-fields .field-label {
  font-weight: normal;
  color: #246D35;
  width: 150px;
}
.node-event.node-full .field-label-inline .field-label, 
.node-event.node-full .field-label-inline .field-items, 
.node-event.node-full .field-label-inline .field-item {
  display: block;
}
.node-event.node-full .field-name-field-event-venue .field-items {
  float: none;
  margin-left: 150px;
}

/* Landing Pages page title size change */
#region-above-content .block-bean .block-title {
  font-size: 2em;
  color: #3f3f3f;
  text-transform: uppercase;
}

/* Header content beans */
#region-above-content .block-bean .block-title {
  float: left;
  margin: 0;
}
.bean-section-header .field {
  float: left;
  margin: 10px 4px 0 13px;
}
.bean-section-header .field-name-field-bean-subtitle {
  font-size: 1.6em;
  font-weight: bold;
  margin-top: 6px;
  text-transform: uppercase;
}
.bean-section-header .field-name-field-bean-section-links {
  float: right;
  margin-top: 14px;
  margin-right: 17px;
}
.bean-section-header .field-name-field-bean-section-links .field-item {
  display: inline;
  padding: 0 13px;
}

/* Blogs Landing Page */
.page-blogs .pane-quicktabs-blogs h2.node-title {
  margin-bottom: 0;
  font-size: 2em;
}
.page-blogs .pane-quicktabs-blogs .form-item-author-profile {
  margin-top: -20px;
}
.page-blogs .pane-quicktabs-blogs .views-row:first-child {
  padding-top: 0;
}
.page-blogs .pane-quicktabs-blogs ul.pager-load-more {
  margin-top: 15px;
}
.page-blogs .pane-quicktabs-blogs ul.pager-load-more a{
  color: #646262;
}
.page-blogs .grid-4 .inside .block-bean .contextual-links-wrapper {
  margin-top: 15px; /* Stop whole panel config overlapping bean config */
}

/* Override  block-section-title width */
.page-blogs .grid-4 .inside .block-bean .block-section-title {
  width: 155px;
}

/* Blogs and similar sections */
.block-bcs-discussion h2.block-title,
.block-discussions-block-editors-picks h2.block-title,
.block-views-discussions-block-recent-posts h2.block-title,
.block-views-blogs-block-latest-official h2.block-title,
.block-views-blogs-block-latest-community h2.block-title,
.block-views-news-block-latest-official-news h2.block-title,
.block-views-news-block-latest-comm-news h2.block-title,
.block-views-news-block-latest-press-news h2.block-title  {
  font-size: 1em;
  /*width: 240px;
  padding: 3px 0 1px 8px;*/
  display: inline;
  padding: 3px 8px 3px 8px;
  min-width: ;
}
/*.block-views-blogs-block-latest-community h2.block-title {
  width: 247px;
}
.block-views-discussions-block-recent-posts h2.block-title {
  width: 160px;
}
.block-discussions-block-editors-picks h2.block-title {
  width: 179px;
}
.block-views-news-block-latest-official-news h2.block-title,
.block-views-news-block-latest-comm-news h2.block-title,
.block-views-news-block-latest-press-news h2.block-title {
  width: 250px;
}
.block-bcs-discussion h2.block-title {
  width: 95px;
}*/
.block-bcs-discussion .content a {
  text-decoration: none;
  padding: 0px 5px;
}
.block-discussions-block-editors-picks .read-more a:link,
.block-discussions-block-editors-picks .read-more a:visited {
  font-weight: bold;
}
.latest-posts {
  padding: 15px 14px 21px 8px;
  background-image: url('../images/grey-down-arrow.png');
  background-repeat: no-repeat;
  background-position: 20px 0;
  border-top: 4px solid #626262;
}
.latest-posts .views-row {
  margin-bottom: 10px;
}
.latest-posts .views-field-field-user-image {
  float: right;
}
.latest-posts .views-field-comment-count {
  float: left;
  padding-right: 8px;
  background-repeat: no-repeat;
  background-image: url('../images/speech-bubble.png');
  width: 20px;
  height: 20px;
  text-align: center;
}
.captcha{
  margin-left: 130px;
}
.latest-posts .views-field-nothing {
  overflow: hidden;
  padding-right: 8px;
}
.block-discussions-block-editors-picks h2 {
  font-size: 2em;
}

.block-discussions-block-editors-picks .view {
  padding-bottom: 0;
}
.post-posted em {
  font-style: normal;
}

.view-discussions.view-display-id-block_latest_activity .view-filters {
  position: absolute;
  top: 1px;
  left: 160px;
  width: 450px;
}
.view-discussions.view-display-id-block_latest_activity .views-exposed-form .views-exposed-widget {
  padding-top: 0;
}
.view-discussions.view-display-id-block_latest_activity .views-exposed-form .form-item-sort-by {
  padding-top: 3px;
}
.view-discussions.view-display-id-block_latest_activity .views-exposed-form .form-item-sort-by label,
.view-discussions.view-display-id-block_latest_activity .views-exposed-form .form-item-sort-by div {
  display: inline;
  vertical-align: middle;
  font-weight: normal;
}
.view-discussions.view-display-id-block_latest_activity .views-exposed-form .form-item-sort-by label {
  cursor: pointer;
}
.view-discussions.view-display-id-block_latest_activity .views-exposed-form input {
  margin: 0 5px 0 4px;
  cursor: pointer;
}
.view-discussions.view-display-id-block_latest_activity .views-exposed-form .form-item-sort-by .radios-label,
.view-discussions.view-display-id-block_latest_activity .views-exposed-form .form-item-sort-by .form-type-radio {
  margin-right: 7px;
  cursor: default;
}

.view-discussions.view-display-id-block_editors_picks .read-more a {
  text-transform: uppercase;
  text-decoration: none;
}

.node-discussion-thread .field-name-field-discussion-topics {
  margin-bottom: 10px;
}
.node-discussion-thread .field-name-field-discussion-topics .field-label {
  font-weight: normal;
  color: #555;
}
.node-discussion-thread .field-name-field-discussion-topics .field-item {
  margin-left: 6px;
}

/* 'Want to post an entry' Block, Style Overrides */
.page-blogs .grid-4 .bean-custom-text .field-name-field-block-heading {
  width: 145px;
}

/* Comments Styling */
#comments .comment-submitted .username {
  font-weight: bold;
  color: #00704A;
}
#comments .author .username {
  font-weight: normal;
}
#comments #comment-title-wrapper {
  border: 1px solid #C8C8C8;
  margin: 0;
  height: 30px;
  background: url('../images/top-nav-bg.png') repeat-x;
  margin-bottom: 20px;
}
#comments #comment-title-wrapper h2.title {
  width: 150px;
  height: 30px;
  padding-left: 15px;
  font-size: 1em;
  line-height: 2.5em;
  background: url('../images/top-nav-bg-active.png') repeat-x;
  color: #FFF;
  text-transform: uppercase;
  margin-bottom: 0;
  float:left;
}
#comments #comment-title-wrapper #bcs-talk-choose-comment-sort-form {
  float:right;
  padding-left: 15px;
}
#comments #comment-title-wrapper #bcs-talk-choose-comment-sort-form .form-type-radio {
  padding-left: 2px;
  padding-right: 2px;
}
#comments .pre-header {
  float: left;
  margin-left: 10px;
  margin-top: 9px;
}
#comments .pre-header .comment-number {
  font-size: 1.9em;
  color: #3F3F3F;
  font-weight: bold;
  width: 32px;
}
#comments .comment-body {
  margin-left: 7px;
  margin-top: 20px;
  float: left;
  width: 88%;
}
#comments .comment-even {
  background: #f0f0f0;
}
#comments .form-item-author-profile {
  margin-top: -0.5em;
}

/* Comment form */
h2.title.comment-form {
  border-bottom: 1px solid #a5a5a5;
  color: #555;
  font-size: 1.8em;
  padding-bottom: 3px;
  margin: 7px 0;
}
form.comment-form label {
  float: left;
  width: 130px;
}
form.comment-form label + * {
  overflow: hidden;
}
form.comment-form .form-actions {
  margin-left: 130px;
}
.node-discussion-thread form.comment-form .form-actions {
  margin-left: 0;
}
form.comment-form textarea,
form.comment-form input.form-text,
form.comment-form .grippie {
  width: 395px;
}
.node-discussion-thread form.comment-form textarea,
.node-discussion-thread form.comment-form .grippie {
  width: 100%;
}

/* Stop comments box from being resized on News & Blogs & Discussions */
.node-type-news-article form.comment-form textarea,
.node-type-blog-entry form.comment-form textarea,
.node-type-discussion-thread form.comment-form textarea {
  height: 110px;
  resize: none;
}
.node-type-news-article form.comment-form .grippie,
.node-type-blog-entry form.comment-form .grippie,
.node-type-discussion-thread form.comment-form .grippie {
  display: none;
}

/* Buttons and node & comment links */
input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

.comment-links ul.inline li,
.node-links ul.inline li {
  padding: 0;
  margin: 0;
}

.comment-links,
.node-links {
  margin: 1em 0;
}
.comment-links ul.links.inline,
.node-links ul.links.inline {
  display: block;
  margin: 0;
}
.node-links ul li a,
.comment-links ul li a {
  text-decoration: underline;
  border: 0;
  border-right: 1px solid #000;
  background: none;
  text-shadow: none;
  font-weight: normal;
  float: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #00704A;
  text-shadow: none;
  text-transform: none;
  display: inline;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
}
.node-links ul li a:hover,
.comment-links ul li a:hover {
  text-decoration: none;
}
.node-links ul li > span,
.node-links ul li > a,
.comment-links ul li a {
  padding: 0 10px 0;
}

/* Fix padding on comment login/register node links */
.node-links li.comment_forbidden span{
  padding: 0;
}

.node-blog-entry.node-highlighted .node-links ul li a {
  border-right: 0 none;
}
.node-links ul li.last a,
.comment-links ul li.last a {
  border-right: none;
}
.node-full .node-links ul li > a {
  float: left;
  background: #ddd url(../../../contrib/omega/omega/images/button.png) repeat-x;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
  background: -moz-linear-gradient(top center, #fff 0%, #ddd 100%);
  margin: 0;
  font-weight: bold;
  border-color: #ddd #bbb #999;
  display: block;
}
a.button,
button,
input[type="reset"],
input[type="submit"],
input[type="button"],
.node-full .node-links ul li > a {
  border: 1px solid;
  border-color: #ddd #bbb #999;
  padding: 8px 25px 7px;
  margin-bottom: 0;
  text-decoration: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #00704A;
  text-shadow: none;
}
/* Links with button styling */
a.button {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  margin: 0 0.5em 0.5em 0;
  vertical-align: middle;
  -webkit-appearance: none;
  background: #ddd url(../../../contrib/omega/omega/images/button.png) repeat-x;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
  background: -moz-linear-gradient(top center, #fff 0%, #ddd 100%);
  border: 1px solid;
  border-color: #ddd #bbb #999;
  font-weight: normal;
  outline: 0;
  overflow: visible;
}
a.button:hover {
  background: #FFF;
}

.comment-links ul li a:hover,
.node-links ul li a:hover {
  background-color: transparent;
}
.node-full .node-links ul li > a:hover {
  /* background-color: #FFFFFF; */
  background: #ddd url(../../../contrib/omega/omega/images/button.png) repeat-x;
}

.node-links ul li.first * a,
.node-teaser .node-links ul li.first a,
.comment-links ul li.first a {
  padding-left: 0;
}
.node-links ul li.last * a,
.node-teaser .node-links ul li.last a,
.comment-links ul li.last a {
  border-right: 0 none;
}

/* Social widgets */
div.bcsacademy-full-share-wrapper {
  margin: 15px 0 5px;
  display: table;
}
#widgets-element-bcsacademy-full-share {
  display: table-row;
}
#widgets-element-bcsacademy-full-share div.widgets-element {
  display: table-cell;
  width: 95px;
}
div.widgets-clear {
  clear: left;
}

.node-blog-entry.node-highlighted .node-links ul li {
  float: left;
  padding-right: 25px;
}
.node-blog-entry.node-highlighted .node-links ul li.bcsacademy-limited-share {
  float: none;
  padding-right: 0;
}
.node-blog-entry.node-highlighted .bcsacademy-limited-share div {
  display: inline;
}

.comment-links ul li a {
  text-transform: capitalize;
  display: block;
  float: left;
}
.comment-links ul li a {
  font-weight: bold;
}

/* News Landing Page / Discussion Landing Page */
.page-news .pane-quicktabs-news h2.node-title,
.page-discussion-forum .pane-quicktabs-discussions h2.node-title {
  margin-bottom: 0;
  font-size: 2em;
}
.page-news .pane-quicktabs-news .form-item-author-profile,
.page-discussion-forum .pane-quicktabs-discussions .form-item-author-profile {
  margin-top: -20px;
}
/*.page-news .pane-quicktabs-news .views-row:first-child,
.page-discussion-forum .pane-quicktabs-discussions .views-row:first-child {
  padding-top: 0;
}*/
.page-news .pane-quicktabs-news ul.pager-load-more,
.page-discussion-forum .pane-quicktabs-discussions ul.pager-load-more {
  margin-top: 15px;
}
.page-news .pane-quicktabs-news ul.pager-load-more a,
.page-discussion-forum .pane-quicktabs-discussions ul.pager-load-more a{
  color: #646262;
}
.page-news .grid-4 .inside .block-bean .contextual-links-wrapper {
  margin-top: 15px; /* Stop whole panel config overlapping bean config */
}

/* Padding fix under news categories quicktabs */
.page-news #block-bean-official-news-listing-header p,
.page-news #block-bean-community-news-listing-header p,
.page-news #block-bean-press-releases-listing-header p{
  padding-left: 14px;
  padding-top: 12px;
}

/* Padding fix under blog categories quicktabs */
.page-blogs #block-bean-official-blogs-header p,
.page-blogs #block-bean-member-blogs-header p {
  padding-left: 3px;
  padding-top: 12px;
}
/* Override  block-section-title width */
.page-news .grid-4 .inside .block-bean .block-section-title {
  width: 155px;
}

/* News Article block-section-title width */
.block-bean-page-submit-news-auth .block-section-title,
.block-bean-page-submit-news-anon .block-section-title {
  width: 155px;
}

#comment-title-wrapper {
  position: relative;
}
#bcs-talk-choose-comment-sort-form {
  position: absolute;
  top: 4px;
  left: 175px;
}
#bcs-talk-choose-comment-sort-form div,
#bcs-talk-choose-comment-sort-form label,
#bcs-talk-choose-comment-sort-form input {
  display: inline;
}
#bcs-talk-choose-comment-sort-form label {
  vertical-align: middle;
  font-weight: normal;
}
#bcs-talk-choose-comment-sort-form input.form-submit {
  top: -1px;
  position: relative;
}

/**
 * Theme for the Events Landing Page
 */
.pane-bcs-events-events-search .view-display-id-block_1 .view-header{
  float: left;
  width: 520px;
}

.pane-bcs-events-events-search .view-display-id-block_1 .view-header .form-item label{
  float: left;
  width: 130px;
  line-height: 15px;
  font-weight: normal;
}

#events-header{
  border: 1px solid #C8C8C8;
  margin: 0;
  height: 30px;
  background: url('../images/top-nav-bg.png') repeat-x;
}

#events-header #events-header-container{
  height: 30px;
  background: url('../images/top-nav-bg-active.png') repeat-x;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: -20px;
  width: 160px;
  display: block;
  float: left;
  border-right: 1px solid #C8C8C8;
  margin: 0;
  padding-left: 15px;
}

.textsize-large #events-header #events-header-container {
  width: 180px;
}

#events-header #events-header-container span{
  display: block;
  height: 34px;
  padding-top: 6px;
  color: white;
  background-image: url('../images/news-down-green-arrow.png');
  background-repeat: no-repeat;
  background-position: 10% 90%;
  padding-bottom: 0px;
  font-weight: bold;
}

#events-header img{
  float: right;
  margin-top: 6px;
  margin-right: 6px;
}

.pane-bean-submit-event-auth h2,
.pane-bean-submit-event-anon h2{
  background: #626262;
  width: 160px;
  padding: 6px 9px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  margin: 20px 0 0 0;
}

.pane-bean-submit-event-auth .pane-content,
.pane-bean-submit-event-anon .pane-content{
  background-image: url('../images/grey-down-arrow.png');
  background-repeat: no-repeat;
  background-position: 20px 0;
  border-top: 4px solid #626262;
  padding: 15px;
}

.view-display-id-block_1 .view-header .form-item .description,
.view-display-id-block_1 .view-header input[type="submit"]{
  margin-left: 130px;
}

.pane-bcs-events-events-search h2.pane-title{
  font-size: 100%;
  width: 200px;
  margin: 0;
}

.pane-bcs-events-events-search  > div.pane-content{
  background: #f5f5f5 url('../images/green-down-arrow.png') no-repeat 20px 0;
  padding-bottom: 33px;
}

.view-id-calendar .pager{
  position: static;
  border: none;
}

.view .date-nav-wrapper .date-prev{
  left: 0;
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  text-align: left;
  background: none;
  line-height: 25px;
  right: auto;
}

.view .date-nav-wrapper .date-next{
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  line-height: 25px;
}
.view .date-nav-wrapper a{
  background: none;
}
.view .date-nav-wrapper a:hover {
  background: none;
}
.view-id-calendar td{
  background: #f4f4f4;
  text-align: center;
  color: #999;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
}

.view-id-calendar td.has-events{
  background: #9ec83a url('../images/calendar_bkgd.png') repeat-x;
}

.view-id-calendar td.has-events a{
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.view-id-calendar th.days {
  background-color: #f4f4f4;
  color: #999999;
  font-weight: bold;
  border: none;
  font-size: 1.5em;
}

.view-id-calendar .date-nav-wrapper{
  padding: 0;
}

.view-id-calendar .date-nav-wrapper .date-nav{
  padding: 0;
  margin: 0;
}

.view-id-calendar .date-nav-wrapper h3{
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  font-size: 1.5em;
}

.view-id-calendar .date-nav-wrapper h3 a{
  text-decoration: none;
}
.view-id-calendar  .view-footer{
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 20px;
}

/** Subscribe block **/
#block-bcs-events-ical-subscribe {
  background: #f4f4f4;
}
#block-bcs-events-ical-subscribe h2.block-title {
  border-top: 1px solid #e8e8e8;
  font-weight: normal;
  padding: 10px 10px;
  font-size: 1.2em;
  color: #00704a;
}
#block-bcs-events-ical-subscribe .content {
  padding: 0 10px 10px;
}
#block-bcs-events-ical-subscribe a.iCalendar:link,
#block-bcs-events-ical-subscribe a.iCalendar:visited {
  color: #333;
  font-size: 0.9em;
  padding: 5px 0 5px 28px;
  display: block;
  text-decoration: none;
  background: url('../images/iCalendar.gif') no-repeat left center;
}

/* Messages Div */
div.messages {
  margin: 6px 0px 17px 0px;
}

/**
 * Override the core throbber
 */
 .ajax-progress .throbber {
  background: transparent url(../images/ajax-loader.gif) no-repeat 0px -18px;
  float: left; /* LTR */
  height: 15px;
  margin: 2px;
  width: 15px;
}

html.js input.form-autocomplete {
  background-image: url(../images/ajax-loader.gif);
  background-position: 100% 2px; /* LTR */
  background-repeat: no-repeat;
}
html.js input.throbbing {
  background-position: 100% -18px; /* LTR */
}

/* Events Menu Block */
.pane-menu-block-custom2 h2.pane-title,
.block-menu-block-custom2 h2.block-title{
  font-size: 0.95em;
  margin: 0;
  padding: 7px 0 5px 10px;
  height: 18px;
}

.pane-menu-block-custom2 ul.menu li,
.block-menu-block-custom2 ul.menu li{
  background: #f0f0f0;
  width: 90%;
  list-style-type: none;
  list-style-image: none;
  border-bottom: 1px dotted #C8C8C8;
  padding: 5px 0 5px 15px;
  margin-left: 0;
}

.pane-menu-block-custom2 ul.menu li a,
.pane-menu-block-custom2 ul.menu li a{
  text-decoration: none;
}

.menu-block-custom1 ul.menu li.active,
.menu-block-custom1 ul.menu li ul.menu li.active {
  background-color: #00704a !important;
  background-image: url('../images/left-nav-arrow.png') !important;
  background-position: top right !important;
  background-repeat: no-repeat !important;
  color: #FFF !important;
  border-top: none !important;
}

/* User Registration Page */
.page-user-register {

}
.page-user-register form#user-register-form {
  width: 600px;
  border: 1px dotted #00704a;
  padding: 5px 20px 5px 20px;
  margin-top: 5px;

}
.page-user-register form#user-register-form label {
  display: inline-block;
  width: 130px;
}

.page-user-register form#user-register-form input.form-text {
  display: inline;
  margin-left: 70px;
  width: 40%;
}

.page-user-register .field-name-field-user-first-name,
.page-user-register .field-name-field-user-last-name,
.page-user-register .form-item-name,
.page-user-register .form-item-mail {
  border-bottom: 1px dotted #C8C8C8;
  padding-bottom: 5px;
}

.page-user-register .form-item-name .description,
.page-user-register .form-item-mail .description {
  padding-top: 3px;
}

/* User Login Page */
form#user-login {
  margin: 30px 80px 50px;
  padding-bottom: 10px;
  -webkit-box-shadow: 0px 0px 11px #CCC; /* Saf3-4 */
     -moz-box-shadow: 0px 0px 11px #CCC; /* FF3.5 - 3.6 */
          box-shadow: 0px 0px 11px #CCC; /* Opera 10.5, IE9, FF4+, Chrome 10+ */
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
form#user-login #edit-bcs-members,
form#user-login #edit-introduction,
form#user-login #acuk-wrapper {
  margin-top: 0;
  padding: 20px 25px 0;
}
form#user-login #edit-introduction {
  margin-bottom: 0;
  padding-bottom: 0;
}
form#user-login #edit-bcs-members {
  float: left;
  width: 43.5%;
}
form#user-login #acuk-wrapper {
  padding-left: 30px;
  border-left: 1px solid #E8E8E8;
  overflow: hidden;
}
form#user-login h2 {
  padding: 0 0 30px 60px;
  background: transparent url('../images/bcs.png') no-repeat top left;
}
form#user-login #acuk-wrapper h2 {
  background-image: url('../images/acuk.png');
}
form#user-login #acuk-wrapper .form-item-pass .description {
  display: none;
}
form#user-login #acuk-wrapper .form-item-name {
  margin-top: 20px;
}
form#user-login #edit-bcs-members p,
form#user-login #acuk-wrapper .form-item-pass {
  margin-bottom: 20px;
}
form#user-login #acuk-wrapper .form-item label {
  float: left;
  width: 90px;
  margin-right: 10px;
}
form#user-login #acuk-wrapper .form-item input {
  width: 200px;
}
form#user-login #acuk-wrapper .form-actions {
  margin-left: 100px;
}

form#user-login .button,
form#user-login input.form-submit {
  width: auto;
  height: 30px;
  background: #537900 url('../images/button-back.png') repeat-x top left;
  color: #FFF;
  font-weight: bold;
  padding: 0 10px 3px 10px;
  cursor: pointer;
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}
form#user-login a.button {
  height: 27px;
  line-height: 27px;
  float: left;
  margin-bottom: 0;
}

/** User Profile Page - View **/
.page-user- {

}
.bcs-member-detail{
  height: 22px;
}
.bcs-member-details-edit{
  margin-top: -10px;
}

.page-user .pane-user-profile h2.pane-title {
  display: none;
}
.page-user- .profile .field-name-field-user-image {
  float: left;
}

.page-user- .profile .field-name-field-user-image .field-items{
  margin-right: 20px;
  display: inline-block;
}

.page-user- .profile .field-name-field-user-image img {
  border: 2px solid #246D35;
}

.page-user- .profile .field-name-field-user-first-name,
.page-user- .profile .field-name-field-user-last-name {
  display: block;
  height: 23px;
}

.page-user- .profile {
  width: 70%;
}

.page-user- .profile h3 { /* This needs removing when correct email field is in place*/
  border-bottom: none;
}

.page-user- .profile .field-name-field-user-bio .field-label {
  font-size: 1.5em;
  color: #246D35;
}

/** User Profile Page - Edit **/
.page-user-edit  {

}

.page-user-edit .field-name-field-user-image {
  float: left;
}
.page-user-edit .field-name-field-user-image img {
  border: 2px solid #246D35;
}
.page-user- .field-name-field-user-image .field-items {
  margin-right: 20px;
  display: inline-block;
}


.page-user-edit form#user-profile-form .form-item-field-user-first-name-und-0-value,
.page-user-edit form#user-profile-form .form-item-field-user-last-name-und-0-value,
.page-user-edit form#user-profile-form .form-item-mail {
  margin-top: 0;
  margin-bottom: 2px;
}

/* Resize text inputs to be all the same*/
.page-user-edit form#user-profile-form input.form-text {
  width: 35%;
  height: 20px;
}

/* Align the labels nicely with resized text-inputs */
.page-user-edit form#user-profile-form .field-name-field-user-first-name label,
.page-user-edit form#user-profile-form .field-name-field-user-last-name label,
.page-user-edit form#user-profile-form .form-item-name label,
.page-user-edit form#user-profile-form .form-item-mail label,
.page-user-edit form#user-profile-form .form-item-current-pass label,
.page-user-edit form#user-profile-form .form-item-pass-pass1 label,
.page-user-edit form#user-profile-form .form-item-pass-pass2 label {
   display: inline-block;
   width: 105px;
}
.page-user-edit form#user-profile-form .form-item-name .description,
.page-user-edit form#user-profile-form .form-item-current-pass .description {
  margin-left: 0 !important;
}

.page-user-edit form#user-profile-form .form-item-mail .description {
  display: none;
}

.page-user-edit form#user-profile-form .form-item-name .description,
.page-user-edit form#user-profile-form .form-item-mail .description,
.page-user-edit form#user-profile-form .form-item-current-pass .description {
  width: 60%;
  margin-top: 5px;
  margin-left: 15%;
}

/* Override labels for styling as per designs */
.page-user-edit form#user-profile-form .field-name-field-user-bio label, 
.page-user-edit form#user-profile-form .form-item-field-user-email-visibility-und label,
.page-user-edit form#user-profile-form .form-item-field-user-digest-active-und label {
  font-size: 1.5em;
  color: #246D35;
}

.page-user-edit form#user-profile-form .field-name-field-user-bio .form-textarea {
  height: 150px;
}

.page-user-edit form#user-profile-form .field-name-field-user-bio .form-textarea, 
.page-user-edit form#user-profile-form .field-name-field-user-bio .grippie {
  width: 67%;
}
.page-user-edit form#user-profile-form .field-name-field-user-bio .grippie {
  display: none;
}

/* Display checkboxes to the right of the appropriate labels */
.page-user-edit form#user-profile-form #edit-field-user-email-visibility-und {
  width: 270px;
}

.page-user-edit form#user-profile-form #edit-field-user-bio-visibility-und {
  width: 210px;
}

.page-user-edit form#user-profile-form #edit-field-user-digest-active-und {
  width: 225px;
}

.page-user-edit form#user-profile-form .field-name-field-user-email-visibility input[type="checkbox"],
.page-user-edit form#user-profile-form .field-name-field-user-bio-visibility input[type="checkbox"],
.page-user-edit form#user-profile-form .form-item-field-user-digest-active-und-enabled input[type="checkbox"] {
  float: right;
}

/* Override label styling to revert to normal */
.page-user-edit form#user-profile-form .form-item-field-user-email-visibility-und label.option,
.page-user-edit form#user-profile-form .form-item-field-user-digest-active-und label.option  {
  font-size: 1em;
  color: #333;
}

/* Bio Visibility & Email Digests */
.page-user-edit form#user-profile-form .form-item-field-user-bio-visibility-und,
.page-user-edit form#user-profile-form .field-name-field-user-digest-frequency {
  border-top: 1px solid #A6A6A6;
}
.page-user-edit form#user-profile-form .form-item-field-user-bio-visibility-und-visible {
  margin-top: 0.6em;
}
.page-user-edit form#user-profile-form .form-item-field-user-bio-visibility-und label {
  display: none;
}
.page-user-edit form#user-profile-form .form-item-field-user-bio-visibility-und label.option {
  display: inline;
}

.page-user-edit form#user-profile-form .form-item-field-user-digest-frequency-und {
  margin-top: 0.4em;
}

.page-user-edit form#user-profile-form .form-item-field-user-digest-frequency-und  label {
  font-weight: normal;
  display: inline;
}

.page-user-edit form#user-profile-form #edit-field-user-digest-frequency-und {
  display: inline;
}

.page-user-edit form#user-profile-form #edit-field-user-digest-frequency-und .form-type-radio {
  display: inline-block;
  margin-right: 5px;
}

/* Save Changes Button */
.page-user-edit form#user-profile-form input[type="submit"]#edit-submit {
  background: url('../images/account-save-changes.png');
  width: 288px;
  height: 47px;
  border: none;
  text-indent: -9999px;
  text-transform: capitalize; /* IE Fix text-indent not applying */
}

/* User Profile Intro */
.page-user-edit #user-profile-intro {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* RHS 'Content' Block */
#block-bean-user-profile-content-block {
  margin-top: 30px;
}

/* 'Your Details' Title View & Edit */
.page-user .pane-custom.pane-1 h2.pane-title,
.page-user-edit #user-profile-intro h2 {
  font-size: 1.4em;
}
.page-user .pane-custom.pane-1 h2.pane-title {
  margin-top: 15px;
}

/* Hide Page title on View & Edit */
.page-user h1#page-title,
.page-user-edit h1#page-title {
  display:none;
}

/* Change details / Refresh details */
img.change-profile-img {
  padding-right: 10px; 
} 
#block-bcs-user-change-profile-details {
  margin-top: 10px;
  margin-left: 1px;
}
#block-bcs-user-change-profile-details #change-profile-details {
  padding-top: 1px;
  position: relative;
}
#block-bcs-user-change-profile-details #change-profile-details p {
  display: inline-block;
}

#block-bcs-user-change-profile-details #refresh-profile-details {
  padding-left: 10px;
  display: inline-block;
  width: 200px;
  height: 22px;
}
#refresh-profile-details{
  margin-top: 10px;
}
#block-bcs-user-change-profile-details #add-change-photo {
  position: absolute;
  padding-top: 5px;
  width: 86px;
  left: -95px;
}

#block-bcs-user-change-profile-details #refresh-profile-details a,
#block-bcs-user-change-profile-details #add-change-photo a{
  font-weight: bold;
  display: block;
}
#block-bcs-user-change-profile-details #add-change-photo a {
  display: inline;
  padding: 0 7px;
}
#block-bcs-user-change-profile-details{
  margin-left: 95px;
}

/* Hide the password stuff */
.page-user-edit .form-item-current-pass,
.page-user-edit .form-item-pass{
  display: none;
}
#non-bcs-password{
  text-decoration: underline;
  color: #246D35;
  cursor: pointer;
}

/* Public Profile Page */
.pane-bcs-user-profile-details .field-name-field-user-image,
#bcs-public-profile-details{
  float: left;
}

.field-name-field-user-bio .field-label{
  font-size: 1.5em;
  color: #246D35;
  margin-top: 20px;
}

.bcs-public-profile-details .field{
  height: 22px;
}

/* Image Remove / Upload  */
.page-user-edit .field-widget-image-image {
  display: none; 
  float: none;
}
.page-user-edit a.imagecrop-button {
  font-weight: bold;
}

.page-user-edit #edit-overlay-control {
  display: none;
}

.page-user-edit img.file-icon {
  display: none;
}

.form-item-field-user-image-und-0 label{
  display: none;
}

.field-name-field-user-image .image-preview {
  display: none;
} 
#edit-account{
  position: relative;
}
#edit-soft-remove-image{
  border: none;
  background: none;
  text-decoration: underline;
  position: absolute;
  top: 50px;
  padding: 1px 7px;
  z-index:10;
}
#edit-soft-remove-image:hover{
  text-decoration: none;
}

/* Create an Event page */
.page-node-add-event form.node-event-form {
  width: 500px;
}
.page-node-add-event #field-event-date-add-more-wrapper fieldset.form-wrapper {
  margin-bottom: 0;
}
.page-node-add-event #field-event-date-add-more-wrapper legend {
  display: block;
  width: 80%;
  border-bottom: 1px dotted #C8C8C8;
}
.page-node-add-event #field-event-date-add-more-wrapper span.fieldset-legend {
  font-weight: bold;
}
.page-node-add-event #field-event-date-add-more-wrapper fieldset.form-wrapper .form-item-field-event-date-und-0-value2 {
  margin-bottom: 0;
}

.page-node-add-event #field-event-location-add-more-wrapper .fieldset-wrapper {
  padding-top: 1px;
}
.page-node-add-event #field-event-location-add-more-wrapper label {
  width: 90px;
}
.page-node-add-event #field-event-location-add-more-wrapper input[type="text"] {
  width: 300px;
}
.page-node-add-event #field-event-location-add-more-wrapper select.location_auto_country {
  width: 300px;
}
.page-node-add-event #field-event-location-add-more-wrapper span.fieldset-legend {
  font-weight: bold;
}
.page-node-add-event #field-event-location-add-more-wrapper legend {
  display: block;
  width: 80%;
  border-bottom: 1px dotted #C8C8C8;
}

.page-node-add-event #field-event-link-add-more-wrapper label[for="edit-field-event-link-und-0"] {
  display: block;
  width: 93%;
  border-bottom: 1px dotted #C8C8C8;
}

.page-node-add-event #field-event-booking-link-add-more-wrapper label[for="edit-field-event-booking-link-und-0"] {
  display: block;
  width: 93%;
  border-bottom: 1px dotted #C8C8C8;
}

.page-node-add-event form.node-event-form .vertical-tabs {
  width: 400px;
}

.page-node-add-event form.node-event-form .vertical-tabs table.token-tree {
  margin-left: 0;
}

/* Fix iOS WYSIWYG */
table.mceLayout iframe {
  width: 940px !important;
}
body#tinymce {
  width: 910px !important;
  background: #FFF !important;
}

