/*
 * Text size: Small
 */
body.textsize-small #page {
    font-size: 0.867em;
}

/*
 * Text size: Normal
 */
body.textsize-normal #page {
    font-size: 1em;
}

/*
 * Text size: Large
 */
body.textsize-large #page {
    font-size: 1.2em;
}


/*
 * Blue background, dark blue text.
 */
body.pagestyle-blue #page {
  background: #9FCFFF;
  color: #0E0E8A;
}
body.pagestyle-blue #zone-branding a,
body.pagestyle-blue #zone-branding .block-menu-menu-header-menu ul.menu li a {
    color: #0E0E8A;
}

/*
 * Black background, yellow text.
 */
body.pagestyle-black #page {
  background: #000000;
  color: #FFFF33;
}
body.pagestyle-black #zone-branding a,
body.pagestyle-black #zone-branding .block-menu-menu-header-menu ul.menu li a {
    color: #FFFF33;
}

/*
 * Yellow background, blue text.
 */
body.pagestyle-yellow #page {
  background: #FEF9D1;
  color: #0E0E8A;
}
body.pagestyle-yellow #zone-branding a,
body.pagestyle-yellow #zone-branding .block-menu-menu-header-menu ul.menu li a {
    color: #0E0E8A;
}